<div class="container">
    <div class="col-md-3">
        <div class="well">
            <a href="/invoice/new" class="caption"><img src="/assets/images/edit.png" width="100%" /></a>
            <a href="/invoice/new" class="caption">New invoice</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <a href="/invoice" class="caption"><img src="/assets/images/list.png" width="100%" /></a>
            <a href="/invoice" class="caption">View invoices</a>
        </div>
    </div>
</div>
