\documentclass{invoice} % Use the custom invoice class (invoice.cls)
\usepackage{hyperref}
\usepackage{setspace}

\def \tab {\hspace*{3ex}} % Define \tab to create some horizontal white space

\begin{document}

\hfil{\Large\bf Ruben De Smet IT services}\hfil % Company providing the invoice
\bigskip\break % Whitespace
\hrule % Horizontal line

Ruben De Smet \hfill BTW BE 0598 82 64 31 \\
Eikenlaan 2 \hfill +32 474 09 11 50 \\ % Your address and contact information
2620 Hemiksem \hfill \href{mailto:ruben.de.smet@rubdos.be}{ruben.de.smet@rubdos.be}\\
Belgi\"e
\\ \\



{\bf Datum:} \hfill {\bf Factuur aan:} \\
\tab {{ invoice.latex_date }} \hfill {% if client.vat %} {{ client.name }} {% else %} {{ client.printed_name }} {% endif %} \\ % Invoice recipient\\ % Invoice date
{\bf Factuurnummer: } \hfill {{ client.latex_vat }} \\ % Recipient's company
\tab {{ invoice.invoice_number }}%
{% if client.vat %}%
         \hfill {{ client.printed_name }} \\
    \tab \hfill {{ client.street }} \\
    \tab \hfill {{ client.postalcode }} {{ client.city }} \\
{% endif %}

\begin{spacing}{1.5}
\begin{invoiceTable}

%\feetype{Consulting Diensten} % Fee category description

%\hourrow{October 3, 2012}{8}{12} % Each separate billing day includes the date, the number of hours and the hourly rate

%------------------------------------------------

% \subtotal % Prints a subtotal, can be used multiple times

%------------------------------------------------

    {% for line in lines %}
            \unitrow{ {{ line.description | latex }}}%
            { {{ line.amount }}}%
            { {{ line.format_price }}}%
            {st.}%
            { {{ line.format_total_price }}}
    {% endfor %}

    \hline\hline\hline
    {\bf Totaal} & & & {\bf \EUR{ {{ total_amount }}}} \\
    21\% BTW & & & \EUR{ {{ total_vat }}} \\
    \hline
    {\bf Totaal incl. 21\,\% BTW} & & & {\bf \EUR{ {{ total_with_vat }}}} \\

\end{invoiceTable}
\end{spacing}
\vfill

{\small Het \textbf{Totaal inclusief BTW} kan worden voldaan op het IBAN-rekeningnummer \textbf{BE11~9731~2593~6548}
van {\hyphenpenalty=10000 Argenta Spaarbank nv.} (BIC-code ARSPBE22),
met vermelding van de gestructureerde mededeling
\texttt{\bf {{ invoice.belgian_ogm }}} of het SEPA-referentienummer
\texttt{\bf {{ invoice.sepa_rf | replace: ' ', '\thinspace ' }}}, naar uw voorkeur.}

\bigskip

Bedankt voor uw vertrouwen.

%----------------------------------------------------------------------------------------
%}
\end{document}
