<h1>
  {{ invoice.invoice_number }}
  <small>
    to <a href="{{ client.url }}">{{ client.name }}</a>

    <span style="margin-left:10px;">
      <img src="/assets/images/printer.png" class="image-inline" />
      {% if invoice.printed %}
        <img src="/assets/images/yes.png" class="image-overlay image-inline" />
      {% else %}
        <img src="/assets/images/no.png" class="image-overlay image-inline" />
      {% endif %}
    </span>
    <span>
      <img src="/assets/images/bitcoin.png" class="image-inline" />
      {% if invoice.paid %}
        <img src="/assets/images/yes.png" class="image-overlay image-inline" />
      {% else %}
        <img src="/assets/images/no.png" class="image-overlay image-inline" />
      {% endif %}
    </span>
    <span>
        <a href="{{ invoice.sales_invoice_id }}/{{ invoice.invoice_number }}.pdf"><img src="/assets/images/pdf.png" class="image-inline"/></a>
    </span>
  </small>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Total price</th>
      <th>VAT (percentage)</th>
    </tr>
  </thead>
{% for line in lines %}
  <tr>
    <td>
      {{ line.description }}
    </td>
    <td>
      {{ line.amount }}
    </td>
    <td>
      €{{ line.format_price }}
    </td>
    <td>
      €{{ line.format_total_price }}
    </td>
    <td>
      {{ line.format_vat}}
    </td>
  </tr>
{% endfor %}
<tr>
    <th>
    </th>
    <th>
    </th>
    <th>
        Total amount:
    </th>
    <th>
        €{{ total_amount }}
    </th>
    <th>
        €{{ total_vat }}
    </th>
</tr>
<tr>
    <th>
    </th>
    <th>
    </th>
    <th>
    </th>
    <th>
        Total, VAT incl.:
    </th>
    <th>
        €{{ total_with_vat }}
    </th>
</tr>
</table>
