<h1>Invoices</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Total (VAT)</th>
            <th>Printed</th>
            <th>Payed</th>
        </tr>
    </thead>
{% for invoice in invoices %}
    <tr>
        <td>
            <a href="{{ invoice.url }}">{{ invoice.invoice_number }}</a>
        </td>
        <td>
            <a href="{{ invoice.client.url }}">{{ invoice.client.name }}</a>
        </td>
        <td>
            €&thinsp;{{ invoice.total }}
            <span style="color:gray;">(€&thinsp;{{ invoice.total_with_vat }})</span>
        </td>
        <td>
            <div>
                <img src="/assets/images/printer.png" class="image-inline" />
                {% if invoice.printed %}
                <img src="/assets/images/yes.png" class="image-overlay image-inline" />
                {% else %}
                <img src="/assets/images/no.png" class="image-overlay image-inline" />
                {% endif %}
            </div>
        </td>
        <td>
            <div>
                <img src="/assets/images/bitcoin.png" class="image-inline" />
                {% if invoice.paid %}
                <img src="/assets/images/yes.png" class="image-overlay image-inline" />
                {% else %}
                <img src="/assets/images/no.png" class="image-overlay image-inline" />
                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}
</table>
