<h1>New invoice</h1>

<form method="POST" action="/invoice/new">
    <div class="form-group">
        <label for="customer">Customer</label>
        <select id="customer" class="form-control" name="customer" placeholder="Customer" type="text">
            {% for client in clients %}
                <option value="{{ client.client_id }}">
                    {{ client.name }}
                    {% if client.attn %}
                        (attn. {{client.attn}})
                    {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <table class="table" id="product-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="#" id="add-product">Add product</a>
    </div>

    <div class="form-group">
        <input type="submit" class="form-control" text="Create invoice" />
    </div>
</form>

<script type="text/javascript">
</script>
